body {
    font-family: "Inter", sans-serif;
    background-color: var(--hintergrund-color);
}

.section-1 {
    padding: 86px 20px 73px 20px;
}

.logo {
    font-weight: 700;
    font-size: 45px;
    color: #000;
    text-decoration: none;
}

.section-1-block {
    display: flex;
    align-items: center;
    gap: 47px;
    margin-top: 44px;
}

.section-1-txt {
    display: flex;
    flex-direction: column;
}

.sec1-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

.sec1-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.sec1-info:nth-of-type(1) {
    margin-top: 44px;
}

.sec1-btn {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--brand-white);
    transition: 0.3s;
    width: 100%;
    max-width: 412px;
    padding: 14px 24px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: clamp(16px, 3vw, 22px);
    line-height: 1.2;
    text-decoration: none;
    margin-top: 44px;
}

.sec1-btn:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
}

.sec1-question {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-top: 44px;
}

.sec1-answer {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.section-1-img {
    background: var(--second-hintergrund-color);
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 530px;
    aspect-ratio: 530 / 587;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section-1-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.section-2 {
    background-color: var(--second-hintergrund-color);
    padding: 90px 20px;
}

.section-2-block {
    display: flex;
    align-items: center;
    gap: 70px;
}

.sec2-img {
    width: 100%;
    max-width: 565px;
    aspect-ratio: 565 / 553;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
}


.section-2-txt {
    display: flex;
    flex-direction: column;
}

.section-2-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

.section-2-untertitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-top: 50px;
}

.section-2-info {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    margin-top: 32px;
}

.sec2-btn {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--brand-white);
    transition: 0.3s;
    width: 100%;
    max-width: 270px;
    padding: 15px 24px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: clamp(16px, 3vw, 22px);
    line-height: 1.2;
    text-decoration: none;
    margin-top: 35px;
}

.sec2-btn:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
}

.section-3 {
    padding: 82px 20px;
}

.sec3-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 82px;
}

.sec3-infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 27px;
}

.sec3-info-item {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    background-color: #fff;
    border-radius: 10px;
    padding: 45px 35px;
    margin-top: 0;
}


.sec3-info-number {
    background-color: var(--button-color);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    margin-top: -12px;
    flex-shrink: 0
}

.sec3-info-txt {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.sec3-info-txt-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.sec3-info-txt-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.sec3-btn {
    display: block;
    background-color: var(--button-color);
    color: var(--brand-white);
    transition: 0.3s;
    width: 100%;
    max-width: 412px;
    padding: 14px 24px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: clamp(16px, 3vw, 22px);
    line-height: 1.2;
    text-decoration: none;
    margin: 64px auto 0 auto;
}

.sec3-btn:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
}


.section-4 {
    background-color: var(--second-hintergrund-color);
    padding: 100px 80px;
}

.slider {
    position: relative;
    max-width: 1290px;
    margin: 0 auto;
}

.slider-image-wrapper {
    overflow: hidden;
    border-radius: 40px;
    aspect-ratio: 16 / 9;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.4s ease, transform 0.4s ease;
}


.slider img.fade-out {
    opacity: 0;
    transform: scale(1.03);
}

.slider img.fade-in {
    opacity: 1;
    transform: scale(1);
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    border: none;
    font-size: 50px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    transition: background 0.3s ease, transform 0.2s ease;
    background-color: transparent;
}

.slider-btn:hover {
    transform: translateY(-50%) scale(1.08);
}

.slider-btn.left {
    left: -40px;
}

.slider-btn.right {
    right: -40px;
}

.section-5 {
    padding: 103px 20px 128px 20px;
}

.sec5-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 36px;
}

.sec5-info {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 68px;
}

.sec5-btn {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--brand-white);
    transition: 0.3s;
    width: 100%;
    max-width: 300px;
    padding: 14px 24px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: clamp(16px, 3vw, 22px);
    line-height: 1.2;
    text-decoration: none;
}

.sec5-btn:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
}

.section-6 {
    background-color: var(--second-hintergrund-color);
}

.sec6-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
}

.faq-accordion {
    max-width: 900px;
    margin: 0 auto;
}

/* FAQ Item */
.faq-item {
    border-bottom: 1px solid var(--brand-border);
    padding: 1.5rem 0;
}

.faq-item:last-child {
    border-bottom: none;
}

/* FAQ Question (clickable) */
.faq-question {
    cursor: pointer;
    user-select: none;
    padding: 0.5rem 0;
    transition: color 0.3s ease;
}

.faq-question:hover {
    color: var(--brand-primary);
}

.faq-question:focus {
    outline: 2px solid var(--brand-primary);
    outline-offset: 4px;
}


.faq-icon {
    color: var(--brand-dark);
    font-weight: 700;
    transition: color 0.3s ease;
    min-width: 30px;
    text-align: center;
}

.faq-item.active .faq-icon {
    color: var(--brand-primary);
}


.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.faq-answer p {
    margin-bottom: 0;
}

.section-7 {
    display: flex;
    justify-content: center;
    padding: 100px 20px 100px 20px;
    background-color: var(--hintergrund-color);
}

.video {
    width: 100%;
    max-width: 1290px;
    height: 572px;
    border-radius: 10px;
    inset: 0;
}

.section-8 {
    padding: 100px 20px 100px 20px;
    background-color: var(--second-hintergrund-color);
}

.section8-block {
    gap: 68px;
}

.sec8-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 44px;
}

.sec8-info {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 44px;
}

.sec8-descr {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.sec8-btn {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--brand-white);
    transition: 0.3s;
    width: 100%;
    max-width: 316px;
    padding: 14px 24px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: clamp(16px, 3vw, 22px);
    line-height: 1.2;
    text-decoration: none;
    margin-top: 44px;
}

.sec8-btn:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
}

.sec8-right-block {
    background: var(--hintergrund-color);
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 556px;
    aspect-ratio: 556 / 775;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sec8-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.section-13 {
    background-color: var(--hintergrund-color);
}

.block-google-map {
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-map {
    width: 100%;
    max-width: 70%;
    height: 100vh;
    max-height: 680px;
    border-radius: 16px;
}

.legal-privacy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-top: 3rem;
}

.legal-privacy a {
    position: relative;
    padding: 0 12px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-decoration: underline;
}

.legal-privacy a:not(:last-child)::after {
    content: "•";
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    font-size: 16px;
}

@media (max-width: 991px) {
    .section-1-block {
        flex-direction: column;
        gap: 32px;
    }

    .section-1-img {
        max-width: 100%;
        padding: 16px;
    }

    .sec1-title {
        font-size: 32px;
        line-height: 1.2;
    }

    .section-2-block {
        flex-wrap: wrap;
        gap: 70px;
    }

    .sec2-img {
        order: 2;
    }

    .sec3-infos {
        grid-template-columns: 1fr;
    }

    .sec3-info-item {
        padding: 30px 25px;
    }

    .sec3-title {
        font-size: 32px;
        line-height: 1.2;
    }

    .slider-image-wrapper {
        aspect-ratio: 4 / 3;
        border-radius: 30px;
    }

    .google-map {
        max-height: 400px;
    }
}

@media (max-width: 576px) {
    .slider-image-wrapper {
        aspect-ratio: 3 / 4;
        border-radius: 20px;
    }
}



@media (max-width:528px) {
    .legal-privacy a:not(:last-child)::after {
        display: none;
    }
}