body {
    font-family: "Inter", sans-serif;
    background-color: var(--hintergrund-color);
}

.section-1 {
    padding: 86px 20px 73px 20px;
}

.logo {
    font-weight: 700;
    font-size: 45px;
    color: #000;
    text-decoration: none;
}

.section-1-block {
    display: flex;
    align-items: center;
    gap: 47px;
    margin-top: 44px;
}

.section-1-txt {
    display: flex;
    flex-direction: column;
}

.sec1-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

.sec1-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.sec1-info:nth-of-type(1) {
    margin-top: 44px;
}

.sec1-btn {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--brand-white);
    transition: 0.3s;
    width: 100%;
    max-width: 412px;
    padding: 14px 24px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: clamp(16px, 3vw, 22px);
    line-height: 1.2;
    text-decoration: none;
    margin-top: 44px;
}

.sec1-btn:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
}

.sec1-question {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-top: 44px;
}

.sec1-answer {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.section-1-img {
    background: var(--second-hintergrund-color);
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    max-width: 530px;
    aspect-ratio: 530 / 587;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section-1-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.section-2 {
    background-color: var(--second-hintergrund-color);
    padding: 90px 20px;
}

.section-2-block {
    display: flex;
    align-items: center;
    gap: 70px;
}

.sec2-img {
    width: 100%;
    max-width: 565px;
    aspect-ratio: 565 / 553;
    border-radius: 10px;
    object-fit: cover;
    flex-shrink: 0;
}


.section-2-txt {
    display: flex;
    flex-direction: column;
}

.section-2-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

.section-2-untertitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-top: 50px;
}

.section-2-info {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    margin-top: 32px;
}

.sec2-btn {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--brand-white);
    transition: 0.3s;
    width: 100%;
    max-width: 270px;
    padding: 15px 24px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: clamp(16px, 3vw, 22px);
    line-height: 1.2;
    text-decoration: none;
    margin-top: 35px;
}

.sec2-btn:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
}

.section-3 {
    padding: 82px 20px;
}

.sec3-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    margin-bottom: 82px;
}

.sec3-infos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 27px;
}

.sec3-info-item {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    background-color: #fff;
    border-radius: 10px;
    padding: 45px 35px;
    margin-top: 0;
}


.sec3-info-number {
    background-color: var(--button-color);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 28px;
    margin-top: -12px;
    flex-shrink: 0
}

.sec3-info-txt {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.sec3-info-txt-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.sec3-info-txt-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.sec3-btn {
    display: block;
    background-color: var(--button-color);
    color: var(--brand-white);
    transition: 0.3s;
    width: 100%;
    max-width: 412px;
    padding: 14px 24px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: clamp(16px, 3vw, 22px);
    line-height: 1.2;
    text-decoration: none;
    margin: 64px auto 0 auto;
}

.sec3-btn:hover {
    background-color: var(--button-hover-color);
    transform: translateY(-2px);
}

@media (max-width: 991px) {
    .section-1-block {
        flex-direction: column;
        gap: 32px;
    }

    .section-1-img {
        max-width: 100%;
        padding: 16px;
    }

    .sec1-title {
        font-size: 32px;
        line-height: 1.2;
    }

    .sec3-infos {
        grid-template-columns: 1fr;
    }

    .sec3-info-item {
        padding: 30px 25px;
    }

    .sec3-title {
        font-size: 32px;
        line-height: 1.2;
    }
}



































@media (max-width:528px) {
    .legal-privacy a:not(:last-child)::after {
        display: none;
    }
}